<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <h1>Liste du vocabulaire enregistré</h1>
    <table>
        <tr>
            <th>Mes Mots</th>
            <th>Traduction</th>
        </tr>
        <tr><% for(mots of list) { %>
            <td><%=(mots.monMot)%></td>
            <td><%=(mots.Traduction)%></td>
            <td><form action="/delete" method="post">
                <input type="hidden" name="idmot" value="<%= mots.id %>">
                <input type="submit" value="Delete"/>
            </form></td> 
        </tr>
        <%}%>
    </table>
    <h2>Ajouter de nouveau mots de vocabulaire</h2>
    <p><form class="add" action="/add" method="POST">
        Le mot : 
        <input name="addMot" placeholder="Votre mot">
        La traduction : 
        <input name="addTrad" placeholder="La traduction">
        <input type="submit" value="Ajouter"/>
    </form></p>
    <form action="/" method="get">
        <input type="submit" value="Retourner a la page d'accueil">
    </form>
</body>
</html>