<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <h1>Test Yourself</h1>
    <h2>How do you say     
    <% for(mots of MotsVoc) { %>
        <%=(mots.monMot)%>
        <%}%></h2>
    
    <h3>Your Answer : </h3>
    <form class="answer" action="/answer" method="POST">
        <input name="trad" placeholder="Translation">
        <input type="hidden" name="idm" value="<%=mots.id%>">
        <input type="submit" value="Validate"/>
    </form>
    <% if (successMessage) { %>
        <p><%= successMessage %></p>
    <% } %>

    <% if (errorMessage) { %>
        <p><%= errorMessage %></p>
    <% } %>

    <form action="/list" method="post">
        <input type="submit" value="list of my vocabulary">
    </form>
</body>
</html>